@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=DynaPuff&family=Varela+Round&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'DynaPuff', cursive;
    background-color: black;
}

.container{
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}